

.nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 120px 15px 120px;
}


.nav li {
    display: inline;
    margin: 20px;
    font-size: 1.5rem;
    font-family: 'Varela Round', sans-serif;
    border-bottom: 2px solid #EFD10F;
  }  

.nav h3 {
    font-family: mynerve;
    font-size: 4.2rem;
}

li a {
    text-decoration: none;
}

li a:hover {
    font-weight: bold;
}

li a:visited {
    color: black;
}

@media only screen and (max-width: 1000px) {
    .nav {
        display: flex;
        justify-content: center;
        padding: 15px; 
    }
    
    .nav li a {
        font-size: 1.2rem;
    }
}

.banner {
    margin: 40px auto;
    width: 90%;
    min-height: 700px;
    background-image: url("https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}


.welcome { 
    text-align: center;
    line-height: 0.5;
}

.welcome h1 {
    font-family: mynerve;
    font-size: 12rem;
    letter-spacing: 3px;
}

.welcome h3 {
    font-family: 'varela round', sans-serif;
    font-size: 3rem;
    letter-spacing: 4px;
}

.bio {
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 600px;
}

.statement {
    width: 50%;
    font-family: 'varela round', sans-serif;
}

.statement h3 {
    font-size: 1.8rem;
    text-align: center;
}

.statement p {
    font-size: 1.2rem;
    line-height: 1.8;
    padding: 0px 30px;
}

.image {
    width: 40%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://images.unsplash.com/photo-1590577976322-3d2d6e2130d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Experience new taste sensations');
}

@media only screen and (max-width: 800px) {
    .image {
        display: hidden;
    }
}

.yellow {
    color: #EFD10F;
}

.menu-title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-title h2 {
    font-size: 65px;
    font-family: mynerve, sans-serif;
    text-align: center;
}

.menu {
    margin: 40px auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-items {
    height: 300px;
    width: 300px;
    overflow-y: scroll;
    background-color: #36363a;
    padding: 20px;
} 

.menu-items h3 {
    text-align: center;
    font-family: mynerve, sans-serif;
    font-size: 2.3rem;
    color: #EFD10F;
}


.menu-items h4, .menu-items p {
    line-height: normal;
    line-break: 2px;
    list-style-type: none;
    font-family: 'Varela Round', sans-serif;
    color: #EFD10F;
}

.menu-items h4 {
    font-size: 16px;
}

.menu-items p {
    margin-bottom: 50px;
    font-size: 14px;
}

.price {
    text-align: right;
}

@media only screen and (min-width: 300px) {

    .welcome h1 {
      font-size: 5rem;
      letter-spacing: 1px;
    }
    
    .welcome h3 {
      font-size: 1.8rem;
      letter-spacing: 2px;
    }
    
    .bio {
      flex-direction: column;
      height: auto;
    }
    
    .statement {
      width: 100%;
    }
    
    .image {
      display: none;
    }
    
    .menu-title h2 {
      font-size: 40px;
    }
    
    .menu {
      flex-direction: column;
      align-items: center;
    }
    
    .menu-items {
      height: auto;
      width: 80%;
      overflow-y: auto;
      margin: 20px 0;
    } 
    
    .menu-items h3 {
      font-size: 2rem;
    }
    
    .menu-items h4 {
      font-size: 14px;
    }
    
    .menu-items p {
      font-size: 12px;
      margin-bottom: 20px;
    }
    
    .price {
      text-align: left;
    }
  }
  
